



//hero text description
.av-zero-column-padding {

    width: 54% !important;
    
    .avia_textblock {

        h1, h2 {
            line-height: 65px;
            text-transform: capitalize; 
        }
        
        h2 {
            font-weight: 400 !important;
        }
    }
}
    

